.subscription
    background-color: $bg-color
    &__wrapper
        margin: 0
        background-color: #34A5E4
        border-radius: 16px
        @include adaptiv-value("padding-top", 60, 20, 0)
        @include adaptiv-value("padding-right", 90, 20, 0)
        @include adaptiv-value("padding-bottom", 60, 20, 0)
        @include adaptiv-value("padding-left", 90, 20, 0)
        display: flex
        justify-content: space-between
        transform: translateY(50%)
        @include maxw($sm-tablet)
            flex-wrap: wrap

        h2
            color: #fff
            @include adaptiv-font(40, 20)
        .subtitle
            color: #fff
            margin-top: 16px
            width: 70%
    &__form
        @include adaptiv-value("width", 490, 300, 0)
        @include adaptiv-value("height", 40, 20, 0)
        @include adaptiv-value("padding", 22, 15, 0)
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 10px 16px 60px -7px rgba(0, 0, 0, 0.04)
        border-radius: 4px
        @include maxw($sm-tablet)
            margin-top: 20px
        input
            width: 80%
            height: 30px
            border: none
            color: #A8A9B1
            @include adaptiv-font(16, 12)
            margin-right: 10px
        button
            @include adaptiv-value("width", 130, 90, 0)
            @include adaptiv-value("height", 55, 30, 0)
            border: none
            background: #0F415C
            box-shadow: 0px 12px 20px -5px rgba(23, 23, 126, 0.1)
            border-radius: 4px
            color: #FFFFFF
            @include adaptiv-font(14, 10)
